{"is_source_file": true, "file_id": 26, "git_revision": "6283159808f81e63b9efe63d99a0d3ccc9fbc332", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "4e8b847fd91dedad7ccd405d1ecef68d", "format-version": 4, "code-base-name": "default", "filename": "backend_workspace/backend/requirements.txt", "knowledge_revision": 54}